[Unit]
Description={{description}}

{%- if requires %}
After={{requires}}
Requires={{requires}}
{%- endif %}

[Service]
ExecStart={{exec_start}}
RestartSec={{restart_sec}}
{%- if restart_sec %}
Restart=always
{%- endif %}

[Install]
WantedBy={{target}}
